@using EntityLayer.Concrete;
@model IEnumerable<Post>

@foreach (var item in Model)
{
    <div style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4 col-sm-4 col-xs-4 mt-4">
                <img src="/Materials/images/news/@item.PostImage" class="card-img">
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="card-body">
                    <h5 class="card-title f-card-title">@item.PostTitle</h5>
                </div>
            </div>
        </div>
    </div>
}