@using EntityLayer.Concrete;
@model IEnumerable<Writer>

    <br />
<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">yazarlar</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>isim soyisim</th>
                        <th>gönderi sayısı</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var writer in Model)
                        {
                            <tr>
                                <td>@writer.WriterId</td>
                                <td>@writer.WriterFirstName @writer.WriterLastName</td>
                                <td>
                                    @writer.Posts.Count
                                </td>
                            </tr>
                        }
                    
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>